.Categorycarouse{
display: flex;
width: 100%;
margin-top: 10px;
box-shadow: 2px 2px 10px rgb(201,201,201);
height: 366px;
}

.CategoryCarousel-left {
  width: 18%;
  text-align: center;
  padding: 10% 10px 10px 10px;
}
.Categorycarouse-tile {
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 27px;
  text-align: center;
}
.Categorycarouse-btn {
  background: rgb(32, 81, 245);
  border: none;
  outline: none;
  padding: 8px 20px;
  color: white;
  font-weight: 301;
  border-radius: 2px;
  border: 2px solid rgb(57, 57, 247);
  text-transform: uppercase;
  cursor: pointer;
}
.Categorycarouse-right {
  background: white;
  width: calc(100% - 17%);
  height: 367px;
  position: relative;
}